/*
Autores
Giancarlo Alvarado Sánchez	- 117230466
Greivin Rojas Hernández		- 402110725
Jasson Núñez Camacho		- 117570784
Josué Víquez Campos			- 117250099
*/

.jumbotron {
	padding-bottom: 30px;
	padding-top: 15px;
}

#fileName{
	margin-bottom: 10px;
	width: 97%;
}

.linedwrap {
	border: 3px solid black;
	border-radius: 6px;
}

.linedtextarea {
	padding: 0px;
	margin-top: 0px;
}

.linedtextarea textarea, .linedwrap .codelines .lineno {
	font-size: 10pt;
	font-family: monospace;
	line-height: normal !important;
}

.linedtextarea textarea {
	padding-right:0.3em;
	padding-top:0.3em;
	border: 0;
}

.linedwrap .lines {
	margin-top: 0px;
	width: 50px;
	float: left;
	overflow: hidden;
	border-right: 1px solid #c0c0c0;
	margin-right: 0px;
}

.linedwrap .codelines {
	padding-top: 5px;
}

.linedwrap .codelines .lineno {
	color:grey;
	padding-right: 0.5em;
	padding-top: 0.0em;
	text-align: right;
	white-space: nowrap;
}

.linedwrap .codelines .lineselect {
	color: red;
}

.console{
	font-size: 10pt;
	color: white;
	font-family: verdana;
	background-color: black;
	resize: none;
	
}

.punteado {
	border-bottom:dotted 1px #28a745;
	}

	.customTR {
		float: left;
		width:75%;
		padding-left:8%;
		padding-right:1%;
		padding-top: 6px;
		height:100%;
		text-align:left;
	}

	.inverseColor{
		background-color: #343a40 !important;
		color: azure;
	}

	.botonBorderInverse{
		border-bottom : 1px solid black !important;
	}

	.topBorderInverse{
		border-top : 1px solid black !important;
	}














